.brand-logo{
    background: transparent url(../img/logo.png);
    background-size: cover;
    float: inherit;
    display: block;
    /*margin: auto;*/
    text-indent: -999px;
    height: 150px;
    width: 180px;
    margin: none;
}